<!--トラック1-->
<div class="row2">トラック1</div>
<%= f.text_field :track_name1, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル1</div>
<%= f.file_field :track_file1, accept:'audio/mp3' %>
<!--トラック１終了-->

<!--トラック2-->
<div class="row2">トラック2</div>
<%= f.text_field :track_name2, placeholder: "Track2", rows: "10" %>
<div class="row2">音楽ファイル2</div>
<%= f.file_field :track_file2, accept:'audio/mp3' %>
<!--トラック2終了-->

<!--トラック3-->
<div class="row2">トラック3</div>
<%= f.text_field :track_name3, placeholder: "Track3", rows: "10" %>
<div class="row2">音楽ファイル3</div>
<%= f.file_field :track_file3, accept:'audio/mp3' %>
<!--トラック3終了-->

<!--トラック4-->
<div class="row2">トラック4</div>
<%= f.text_field :track_name4, placeholder: "Track4", rows: "10" %>
<div class="row2">音楽ファイル4</div>
<%= f.file_field :track_file4, accept:'audio/mp3' %>
<!--トラック4終了-->

<!--トラック5-->
<div class="row2">トラック5</div>
<%= f.text_field :track_name5, placeholder: "Track5", rows: "10" %>
<div class="row2">音楽ファイル5</div>
<%= f.file_field :track_file5, accept:'audio/mp3' %>
<!--トラック5終了-->

<!--トラック6-->
<div class="row2">トラック6</div>
<%= f.text_field :track_name6, placeholder: "Track6", rows: "10" %>
<div class="row2">音楽ファイル6</div>
<%= f.file_field :track_file6, accept:'audio/mp3' %>
<!--トラック6終了-->

<!--トラック7-->
<div class="row2">トラック1</div>
<%= f.text_field :track_name7, placeholder: "Track7", rows: "10" %>
<div class="row2">音楽ファイル7</div>
<%= f.file_field :track_file7, accept:'audio/mp3' %>
<!--トラック7終了-->

<!--トラック8-->
<div class="row2">トラック8</div>
<%= f.text_field :track_name8, placeholder: "Track8", rows: "10" %>
<div class="row2">音楽ファイル8</div>
<%= f.file_field :track_file8, accept:'audio/mp3' %>
<!--トラック8終了-->

<!--トラック9-->
<div class="row2">トラック9</div>
<%= f.text_field :track_name9, placeholder: "Track9", rows: "10" %>
<div class="row2">音楽ファイル9</div>
<%= f.file_field :track_file9, accept:'audio/mp3' %>
<!--トラック9終了-->

<!--トラック10-->
<div class="row2">トラック10</div>
<%= f.text_field :track_name10, placeholder: "Track10", rows: "10" %>
<div class="row2">音楽ファイル10</div>
<%= f.file_field :track_file10, accept:'audio/mp3' %>
<!--トラック10終了-->

<!--トラック11-->
<div class="row2">トラック11</div>
<%= f.text_field :track_name11, placeholder: "Track11", rows: "10" %>
<div class="row2">音楽ファイル11</div>
<%= f.file_field :track_file11, accept:'audio/mp3' %>
<!--トラック11終了-->

<!--トラック12-->
<div class="row2">トラック12</div>
<%= f.text_field :track_name12, placeholder: "Track12", rows: "10" %>
<div class="row2">音楽ファイル12</div>
<%= f.file_field :track_file12, accept:'audio/mp3' %>
<!--トラック12終了-->

<!--トラック13-->
<div class="row2">トラック13</div>
<%= f.text_field :track_name13, placeholder: "Track13", rows: "10" %>
<div class="row2">音楽ファイル13</div>
<%= f.file_field :track_file13, accept:'audio/mp3' %>
<!--トラック13終了-->

<!--トラック14-->
<div class="row2">トラック14</div>
<%= f.text_field :track_name14, placeholder: "Track14", rows: "10" %>
<div class="row2">音楽ファイル14</div>
<%= f.file_field :track_file14, accept:'audio/mp3' %>
<!--トラック14終了-->

<!--トラック15-->
<div class="row2">トラック15</div>
<%= f.text_field :track_name15, placeholder: "Track15", rows: "10" %>
<div class="row2">音楽ファイル15</div>
<%= f.file_field :track_file15, accept:'audio/mp3' %>
<!--トラック15終了-->

<!--トラック16-->
<div class="row2">トラック16</div>
<%= f.text_field :track_name16, placeholder: "Track16", rows: "10" %>
<div class="row2">音楽ファイル16</div>
<%= f.file_field :track_file16, accept:'audio/mp3' %>
<!--トラック16終了-->

<!--トラック17-->
<div class="row2">トラック17</div>
<%= f.text_field :track_name17, placeholder: "Track17", rows: "10" %>
<div class="row2">音楽ファイル17</div>
<%= f.file_field :track_file17, accept:'audio/mp3' %>
<!--トラック17終了-->

<!--トラック18-->
<div class="row2">トラック18</div>
<%= f.text_field :track_name18, placeholder: "Track18", rows: "10" %>
<div class="row2">音楽ファイル18</div>
<%= f.file_field :track_file18, accept:'audio/mp3' %>
<!--トラック18終了-->

<!--トラック19-->
<div class="row2">トラック19</div>
<%= f.text_field :track_name19, placeholder: "Track19", rows: "10" %>
<div class="row2">音楽ファイル19</div>
<%= f.file_field :track_file19, accept:'audio/mp3' %>
<!--トラック19終了-->

<!--トラック20-->
<div class="row2">トラック20</div>
<%= f.text_field :track_name20, placeholder: "Track20", rows: "10" %>
<div class="row2">音楽ファイル20</div>
<%= f.file_field :track_file20, accept:'audio/mp3' %>
<!--トラック20終了-->

<%= f.submit "SEND" %>