<!--Track1-->
<div class="row2">Track1</div>
<%= f.text_field :track_name1, placeholder: "Track1", rows: "10" %>
<div class="row2">Track File1</div>
<%= f.file_field :track_file1, accept:'audio/mp3' %>
<!--Track１終了-->

<!--Track2-->
<div class="row2">Track2</div>
<%= f.text_field :track_name2, placeholder: "Track2", rows: "10" %>
<div class="row2">Track File2</div>
<%= f.file_field :track_file2, accept:'audio/mp3' %>
<!--Track2終了-->

<!--Track3-->
<div class="row2">Track3</div>
<%= f.text_field :track_name3, placeholder: "Track3", rows: "10" %>
<div class="row2">Track File3</div>
<%= f.file_field :track_file3, accept:'audio/mp3' %>
<!--Track3終了-->

<!--Track4-->
<div class="row2">Track4</div>
<%= f.text_field :track_name4, placeholder: "Track4", rows: "10" %>
<div class="row2">Track File4</div>
<%= f.file_field :track_file4, accept:'audio/mp3' %>
<!--Track4終了-->

<!--Track5-->
<div class="row2">Track5</div>
<%= f.text_field :track_name5, placeholder: "Track5", rows: "10" %>
<div class="row2">Track File5</div>
<%= f.file_field :track_file5, accept:'audio/mp3' %>
<!--Track5終了-->

<!--Track6-->
<div class="row2">Track6</div>
<%= f.text_field :track_name6, placeholder: "Track6", rows: "10" %>
<div class="row2">Track File6</div>
<%= f.file_field :track_file6, accept:'audio/mp3' %>
<!--Track6終了-->

<!--Track7-->
<div class="row2">Track1</div>
<%= f.text_field :track_name7, placeholder: "Track7", rows: "10" %>
<div class="row2">Track File7</div>
<%= f.file_field :track_file7, accept:'audio/mp3' %>
<!--Track7終了-->

<!--Track8-->
<div class="row2">Track8</div>
<%= f.text_field :track_name8, placeholder: "Track8", rows: "10" %>
<div class="row2">Track File8</div>
<%= f.file_field :track_file8, accept:'audio/mp3' %>
<!--Track8終了-->

<!--Track9-->
<div class="row2">Track9</div>
<%= f.text_field :track_name9, placeholder: "Track9", rows: "10" %>
<div class="row2">Track File9</div>
<%= f.file_field :track_file9, accept:'audio/mp3' %>
<!--Track9終了-->

<!--Track10-->
<div class="row2">Track10</div>
<%= f.text_field :track_name10, placeholder: "Track10", rows: "10" %>
<div class="row2">Track File10</div>
<%= f.file_field :track_file10, accept:'audio/mp3' %>
<!--Track10終了-->

<!--Track11-->
<div class="row2">Track11</div>
<%= f.text_field :track_name11, placeholder: "Track11", rows: "10" %>
<div class="row2">Track File11</div>
<%= f.file_field :track_file11, accept:'audio/mp3' %>
<!--Track11終了-->

<!--Track12-->
<div class="row2">Track12</div>
<%= f.text_field :track_name12, placeholder: "Track12", rows: "10" %>
<div class="row2">Track File12</div>
<%= f.file_field :track_file12, accept:'audio/mp3' %>
<!--Track12終了-->

<!--Track13-->
<div class="row2">Track13</div>
<%= f.text_field :track_name13, placeholder: "Track13", rows: "10" %>
<div class="row2">Track File13</div>
<%= f.file_field :track_file13, accept:'audio/mp3' %>
<!--Track13終了-->

<!--Track14-->
<div class="row2">Track14</div>
<%= f.text_field :track_name14, placeholder: "Track14", rows: "10" %>
<div class="row2">Track File14</div>
<%= f.file_field :track_file14, accept:'audio/mp3' %>
<!--Track14終了-->

<!--Track15-->
<div class="row2">Track15</div>
<%= f.text_field :track_name15, placeholder: "Track15", rows: "10" %>
<div class="row2">Track File15</div>
<%= f.file_field :track_file15, accept:'audio/mp3' %>
<!--Track15終了-->

<!--Track16-->
<div class="row2">Track16</div>
<%= f.text_field :track_name16, placeholder: "Track16", rows: "10" %>
<div class="row2">Track File16</div>
<%= f.file_field :track_file16, accept:'audio/mp3' %>
<!--Track16終了-->

<!--Track17-->
<div class="row2">Track17</div>
<%= f.text_field :track_name17, placeholder: "Track17", rows: "10" %>
<div class="row2">Track File17</div>
<%= f.file_field :track_file17, accept:'audio/mp3' %>
<!--Track17終了-->

<!--Track18-->
<div class="row2">Track18</div>
<%= f.text_field :track_name18, placeholder: "Track18", rows: "10" %>
<div class="row2">Track File18</div>
<%= f.file_field :track_file18, accept:'audio/mp3' %>
<!--Track18終了-->

<!--Track19-->
<div class="row2">Track19</div>
<%= f.text_field :track_name19, placeholder: "Track19", rows: "10" %>
<div class="row2">Track File19</div>
<%= f.file_field :track_file19, accept:'audio/mp3' %>
<!--Track19終了-->

<!--Track20-->
<div class="row2">Track20</div>
<%= f.text_field :track_name20, placeholder: "Track20", rows: "10" %>
<div class="row2">Track File20</div>
<%= f.file_field :track_file20, accept:'audio/mp3' %>
<!--Track20終了-->

<br><%= f.submit "SEND" %>