<div class="contents row row4">
  <div class="container">
<%= form_with(model: [@tweet, @track], local: true) do |f| %>
<div class="row2">トラック1</div>
<%= f.text_field :track_number1,value: 1, hidden:true, rows: "10" %>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル1</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック2</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル2</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック3</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル3</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック4</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル4</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック5</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル5</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック6</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル6</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック7</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル7</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック8</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル8</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック9</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル9</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック10</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル10</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック11</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル11</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック12</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル12</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック13</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル13</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック14</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル14</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック15</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル15</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック16</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル16</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック17</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル17</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック18</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル18</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック19</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル19</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<div class="row2">トラック20</div>
<%= f.text_field :track_name, placeholder: "Track1", rows: "10" %>
<div class="row2">音楽ファイル20</div>
<%= f.file_field :track_file, accept:'audio/mp3' %>
<%= f.submit "SEND" %>
<% end %>
 </div>
</div>