      <%# form.text_field :image, placeholder: "Image Url" %>
　　　<div class="row2">ジャケット写真</div>
      <%= form.file_field :image, id:"music_image", accept:"image/*" %>
       <div class="row2">アーティスト名</div>
      <%= form.text_field :artist_name, placeholder: "Artist Name", rows: "10" %>
      <div class="row2">CDタイトル</div>
      <%= form.text_field :title, placeholder: "Album Title", rows: "10" %>
      <div class="row2">CD種別</div>
       <%= form.collection_select(:cd_type_id, CdType.all, :id, :name, {}, {class:"cd_type-select"}) %>
      <div class="row2">販売価格</div>
      <%= form.text_field :price, placeholder: "Price", rows: "10" %>
      <div class="row2">トラック1</div>
      <%= form.text_field :music_title1, placeholder: "Track1", rows: "10" %>
      <div class="row2">音楽ファイル1</div>
      <%= form.file_field :music_file1, accept:'audio/mp3' %>
      <div class="row2">トラック2</div>
      <%= form.text_field :music_title2, placeholder: "Track2", rows: "10" %>
      <div class="row2">音楽ファイル2</div>
      <%= form.file_field :music_file2 %>
      <div class="row2">トラック3</div>
      <%= form.text_field :music_title3, placeholder: "Track3", rows: "10" %>
      <div class="row2">音楽ファイル3</div>
      <%= form.file_field :music_file3 %>
      <div class="row2">トラック4</div>
      <%= form.text_field :music_title4, placeholder: "Track4", rows: "10" %>
      <div class="row2">音楽ファイル4</div>
      <%= form.file_field :music_file4 %>
       <div class="row2">トラック5</div>
      <%= form.text_field :music_title5, placeholder: "Track5", rows: "10" %>
      <div class="row2">音楽ファイル5</div>
      <%= form.file_field :music_file5 %>
       <div class="row2">トラック6</div>
      <%= form.text_field :music_title6, placeholder: "Track6", rows: "10" %>
      <div class="row2">音楽ファイル6</div>
      <%= form.file_field :music_file6 %>
      <div class="row2">トラック7</div>
      <%= form.text_field :music_title7, placeholder: "Track7", rows: "10" %>
      <div class="row2">音楽ファイル7</div>
      <%= form.file_field :music_file7 %>
      <div class="row2">トラック8</div>
      <%= form.text_field :music_title8, placeholder: "Track8", rows: "10" %>
      <div class="row2">音楽ファイル8</div>
      <%= form.file_field :music_file8 %>
       <div class="row2">トラック9</div>
      <%= form.text_field :music_title9, placeholder: "Track9", rows: "10" %>
      <div class="row2">音楽ファイル9</div>
      <%= form.file_field :music_file9 %>
      <div class="row2">トラック10</div>
      <%= form.text_field :music_title10, placeholder: "Track10", rows: "10" %>
      <div class="row2">音楽ファイル10</div>
      <%= form.file_field :music_file10 %>
      <div class="row2">トラック11</div>
      <%= form.text_field :music_title11, placeholder: "Track11", rows: "10" %>
      <div class="row2">音楽ファイル11</div>
      <%= form.file_field :music_file11 %>
      <div class="row2">トラック12</div>
      <%= form.text_field :music_title12, placeholder: "Track12", rows: "10" %>
      <div class="row2">音楽ファイル12</div>
      <%= form.file_field :music_file12 %>
      <div class="row2">トラック13</div>
      <%= form.text_field :music_title13, placeholder: "Track13", rows: "10" %>
      <div class="row2">音楽ファイル13</div>
      <%= form.file_field :music_file13 %>
      <div class="row2">トラック14</div>
      <%= form.text_field :music_title14, placeholder: "Track14", rows: "10" %>
      <div class="row2">音楽ファイル14</div>
      <%= form.file_field :music_file14 %>
      <div class="row2">トラック15</div>
      <%= form.text_field :music_title15, placeholder: "Track15", rows: "10" %>
      <div class="row2">音楽ファイル15</div>
      <%= form.file_field :music_file15 %>
      <div class="row2">トラック16</div>
      <%= form.text_field :music_title16, placeholder: "Track16", rows: "10" %>
      <div class="row2">音楽ファイル16</div>
      <%= form.file_field :music_file16 %>
      <div class="row2">トラック17</div>
      <%= form.text_field :music_title17, placeholder: "Track17", rows: "10" %>
      <div class="row2">音楽ファイル17</div>
      <%= form.file_field :music_file17 %>
      <div class="row2">トラック18</div>
      <%= form.text_field :music_title18, placeholder: "Track18", rows: "10" %>
      <div class="row2">音楽ファイル18</div>
      <%= form.file_field :music_file18 %>
      <div class="row2">トラック19</div>
      <%= form.text_field :music_title19, placeholder: "Track19", rows: "10" %>
      <div class="row2">音楽ファイル19</div>
      <%= form.file_field :music_file19 %>
      <div class="row2">トラック20</div>
      <%= form.text_field :music_title20, placeholder: "Track20", rows: "10" %>
      <div class="row2">音楽ファイル20</div>
      <%= form.file_field :music_file20 %>
      
      <%= form.submit "SEND" %>