      <%# form.text_field :image, placeholder: "Image Url" %>
　　　<div class="row2">ジャケット写真</div>
      <%= form.file_field :image, id:"music_image", accept:"image/*" %>
       <div class="row2">アーティスト名</div>
      <%= form.text_field :artist_name, placeholder: "Artist Name", rows: "10" %>
      <div class="row2">CDタイトル</div>
      <%= form.text_field :title, placeholder: "Album Title", rows: "10" %>
      <div class="row2">CD種別</div>
       <%= form.collection_select(:cd_type_id, CdType.all, :id, :name, {}, {class:"cd_type-select"}) %>
      <div class="row2">販売価格</div>
      <%= form.text_field :price, placeholder: "Price", rows: "10" %>
      <%= form.submit "SEND" %>