 <div class="content_post" style="background-image: url(<%= tweet.image %>);" >
 <%= link_to image_tag(tweet.image.variant(resize:'240x240')),tweet_path(tweet.id), class: 'music-image' if tweet.image.attached? %>
 <% link_to 'リンク', tweet_path(tweet.id), method: :get %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
           <%= link_to '編集',  edit_tweet_path(tweet.id), method: :get %>
         </li>
         <li>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
  <div class="info">
    <div class="info_show1"><%= tweet.title %>/<%= tweet.artist_name %></div>
    <div class="info_show2">Upload by&nbsp;<a href="/users/<%= tweet.user.id %>"><%= tweet.user.nickname %></a></div>
  </div>
</div>