 <div class="content_post" style="background-image: url(<%= tweet.image %>);" >
 <%= link_to image_tag(tweet.image.variant(resize:'240x240')),tweet_path(tweet.id), class: 'music-image' if tweet.image.attached? %>
 <% link_to 'リンク', tweet_path(tweet.id), method: :get %>
  <div class="info">
    <div class="info_show1">
    <% if tweet.title.encode("EUC-JP").bytesize > 24 %>
      <%= tweet.title.slice(0, 11)... %>
    <% else %>
      <%= tweet.title %>
    <% end %>
    </div>
    <div class="info_show2">
    <% if tweet.artist_name.encode("EUC-JP").bytesize > 24 %> 
      <%= tweet.artist_name.slice(0, 11)... %>
    <% else %>
      <%= tweet.artist_name %>
    <% end %></div>
    <div class="info_show3">Upload by&nbsp;<a href="/users/<%= tweet.user.id %>"><%= tweet.user.nickname %></a></div>
    <div class="info_show4"><%= tweet.price %>円</div>
  </div>
</div>