<div class="contents row row3">
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
    <%= link_to image_tag(@tweet.image.variant(resize:'240x240')),rails_blob_path(@tweet.image), class: 'music_image' if @tweet.image.attached? %>
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <ul class="more_list">
          <li>
            <%= link_to 'EDIT', edit_tweet_path(@tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to 'DELETE', tweet_path(@tweet.id), method: :delete %>
          </li>
        </ul>
    <% end %>
    </div>
    <div class="info">
    <div class="info_show2"><%= @tweet.cd_type.name %></div>
    <div class="info_show1">
      <%= @tweet.title %>
    </div>
    <div class="info_show1">
      <%= @tweet.artist_name %>
    </div>
    <div class="info_show3">Upload by&nbsp;<a href="/users/<%= @tweet.user.id %>"><%= @tweet.user.nickname %></a></div>
    <div class="info_show4"><%= @tweet.price %>円</div>
    </div>
  </div>
  <!-- 再生プレイヤー -->
  <%# audio_tag "#{@tweet.file}"%>
  <audio src="<%= "#{@tweet.file}" %>#t=0,45" id="sound">
  <p>HTML5に対応していません。</p>
  </audio>
  <a onclick="play();" id="play"> 
  <%# image_tag 'saisei.png', :size => '30x30', id: 'imgid' %>
  <div class="title"></div>
  </a>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
$(".title").on("click", function () {
  $(this).toggleClass("change");
});
</script>



  <a onclick="Volume(1);">音量を上げる</a>
  <a onclick="Volume(-1);">音量を下げる</a>

<script type="text/javascript">
  var TARGET = document.getElementById('sound');
  var isPlaying = false;

  function play(){
    if (isPlaying) {
    TARGET.pause()
    TARGET.currentTime = 0;
    $(".change").toggleClass("title");
  } else {
    TARGET.currentTime = 0;
    TARGET.play();
  }
};
TARGET.onplaying = function() {
  isPlaying = true;
};
TARGET.onpause = function() {
  isPlaying = false;
}; 

function Volume(flag) {
      if (0 < flag) {
        if (0.9 < TARGET.volume) {
          TARGET.volume = 1;
        } else {
          TARGET.volume += 0.1;
        }
      } else {
        if (TARGET.volume < 0.1) {
          TARGET.volume = 0;
        }
        else {
          TARGET.volume -= 0.1;
        }
      }
    }
  </script>
    

  <div class="container2">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
       <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>