<div class="content_post" style="background-image: url(<%= music.image %>);" >
 <%= link_to image_tag(music.image.variant(resize:'240x240')),music_path(music.id), class: 'music-image' if music.image.attached? %>
 <% link_to 'リンク', music_path(music.id), method: :get %>
  <div class="info">
  <div class="info_show2">
    <%= music.cd_type.name %>
  </div>
    <div class="info_show1">
    <% if music.title.encode("EUC-JP").bytesize > 24 %>
      <%= music.title.slice(0, 11)... %>
    <% else %>
      <%= music.title %>
    <% end %>
    </div>
    <div class="info_show1">
    <% if music.artist_name.encode("EUC-JP").bytesize > 24 %> 
      <%= music.artist_name.slice(0, 11)... %>
    <% else %>
      <%= music.artist_name %>
    <% end %></div>
    <div class="info_show3">Upload by&nbsp;<a href="/users/<%= music.user.id %>"><%= music.user.nickname %></a></div>
    
    <div class="info_show4">
    <% if current_user.id != music.user_id %>
    <%= link_to "¥#{music.price}", music_orders_path(music.id) %></div>
    <% else %>
    <%= "¥#{music.price}" %>
    </div>
    <% end %>

    <% if user_signed_in? && current_user.id != music.user_id %>
        <% if music.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
            <p class="favorite_icon"><%=link_to image_tag('favostar_after.png', size: "30x30"), music_favorites_path(music.id), method: :delete %></p>
        <% else %>
            <p class="favorite_icon"><%=link_to image_tag('favostar_before.png', size: "30x30"), music_favorites_path(music.id), method: :post %></p>
            <!--music.favorites.count ←お気に入り数の表示 使うときのため-->
        <% end %>
    <% end %>
  </div>
</div>