<!DOCTYPE html>
<html>
  <head>
    <title>MUSiA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/Users/itoukeisuke/TECH_CAMP/projects/musia/app/javascript/packs/application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/" class="musia">MUSiA~new Whereabouts of   music~♪</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6"><span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "My Music", "/users/#{current_user.id}" %>
                <%= link_to "My Music", "/users/#{current_user.id}/favorites" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
            <%= link_to "Upload", new_music_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "Log In", new_user_session_path, class: "post" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright MUSiA 2021.
      </p>
    </footer>
  </body>
</html>